/*font-family: 'DM Serif Display', serif;
font-family: 'Roboto Slab', serif;
font-family: 'M PLUS 1p', sans-serif;*/


header nav a{
    color: rgb(183, 105, 77);
    font-family: 'Roboto Slab', serif;
    padding: 20px;
    font-weight: 500;
    font-size: larger;

}

body {
    background-color: rgba(243, 233, 233, 0.942);
}
.navbar-mine{
    padding-inline-end: 10px;
}
div img{
    padding: 3%;
}

h1{
    color: white;
    font-family: 'DM Serif Display', serif;
    padding: 10px;
    padding-left: 2%;
    background-color: black;
}
h2{
    font-family: 'DM Serif Display', serif;
    font-weight: 400;
    font-size: 400;
   
}
h3{
    color: rgb(216, 167, 107);
    text-decoration: underline;
    ;
}
p{
    font-family: 'Roboto Slab', serif;
    font-size: 150;
  
}
.text-center-mine{
    text-decoration: underline;
}
.p-5-mine{
    text-decoration: underline;
    font-family: 'Roboto Slab', serif;
    font-size: 300%;
}
.p-5-seg{
    text-decoration: underline;
    font-family: 'Roboto Slab', serif;
    font-size: 300%;
}
.p-5-ter{
   text-decoration: underline;
   font-family: 'Roboto Slab', serif;
   font-size: 300%;
}