div {
   a{
    color:map-get($colors,color3);
    position: map-get($posicion, cent);
    font-family: $font1;
    font-size: $fnt20;
    padding: $pad-b;
   } 
}
.p-5-mine{
   @include decoracion (underline);
   font-family: $font2;
   font-size: $fnt50;
}
.p-5-seg{
   @include decoracion (underline);
   font-family: $font2;
   font-size: $fnt50;
}
.p-5-ter{
   @include decoracion (underline);
   font-family: $font2;
   font-size: $fnt50;
}
div img{
   @extend %contac-tel;
   padding: $pad1;
}
.tel{
   font-size: $fnt20;
   padding: $pad1;
   margin-left: 25px;
   color: map-get($colors, color3);
}
.was{
   font-size: $fnt20;
   padding: $pad1;
   margin-left: 25px;
   color: map-get($colors, color3);
}
.fa{
   font-size: $fnt20;
   padding: $pad1;
   margin-left: 25px;
   color: map-get($colors, color3);
}
.in{
   font-size: $fnt20;
   padding: $pad1;
   margin-left: 25px;
   color: map-get($colors, color3);
}
.bar-mine{
   @include decoracion(underline);
   padding: $pad1;
}
.let-cont{
   color: map-get($colors, color3);
   font-family: $font4;
   font-size: $fnt30;
   padding: $pad2;
}