//color
$bg-pink: rgba(149, 137, 137, 0.942);
$bg-white:white;
$bg-black:black;
$bg-pink2: rgb(183, 105, 77);

//fonts

$font1: 'DM Serif Display', serif;
$font2: 'Roboto Slab', serif;
$font3: 'M PLUS 1p', sans-serif;
$font4: 'Crimson Text', serif;

//padding
$pad:5px;
$pad-t:10px 15px;
$pad-h: 20px 25px;
$pad-b: 30px 45px;
$pad-g: 50px 55px;
$pad-t: 150px 300px;

//size
$fnt20: 20px;
$fnt30: 30px;
$fnt40: 40px;
$fnt50: 50px;
$fnt60: 60px;
$fnt100: 100px;
$fnt200:200px;

//weight
$w-ft1:10px;
$w-ft2:15px;
$w-ft3:50px;
